body {
  background-color: #eeeded;
  /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.header {
  padding: 10px;
  text-align: center;
  background-color: beige;
  color: darkolivegreen;
  width: 100%;
}

.header p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
}

h1 {
  text-decoration: overline;
  color: darkolivegreen;
}

img {
  border: 0.3rem ridge;
  border-color: white;
  width: 500px;
  height: 300px;
}

h2 {
  color: darkolivegreen;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
}

p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: darkolivegreen;
}
